@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>微信辅助工具</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/assets/i/favicon.png")">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="@Url.Content("~/Content/assets/i/app-icon72x72@2x.png")">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/assets/i/app-icon72x72@2x.png")">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/assets/i/app-icon72x72@2x.png")">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/amazeui.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/app.css")"/>

    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/jquery-3.2.1.min.js")"></script>
     <script type="text/javascript">
         function ValidationLogin() {
             if (document.getElementById("txtUserName").value == "") {
                 alert("请输入账号！");
                 document.getElementById("txtUserName").focus();
                 return false;
             }
             if (document.getElementById("txtPwd").value == "") {
                 alert("请输入密码！");
                 document.getElementById("txtPwd").focus();
                 return false;
             }
             return true;
         }
    </script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<!-- 页面内容 开发时删除 -->

<div class="am-panel am-panel-default bg">
  <div class="am-panel-bd text">请输入账号和密码</div>
</div>
<form class="am-form am-form-horizontal" action="/Login/Index" method="post">
  <div class="am-form-group">
    <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">账号</label>
    <div class="am-u-sm-10">
      <input type="text"  id="txtUserName"  name="txtUserName" placeholder="输入你的账号"/>
    </div>
  </div>

  <div class="am-form-group">
    <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">密码</label>
    <div class="am-u-sm-10">
      <input type="password"  id="txtPwd"  name="txtPwd" placeholder="请输入你的密码"/>
    </div>
  </div>
    
  <div class="am-form-group">
    <div class="am-u-sm-10 am-u-sm-offset-2">
       <input type="submit" id="btnLogin" class="am-btn am-btn-success am-btn-block" onclick="return ValidationLogin();" value="登录"/>
        <input type="reset" id="btnret" class="am-btn am-btn-danger am-btn-block" value="重置"/>
        <input type="hidden" id="hdMsg"  value="@ViewBag.ErrorMSG" />
    </div>
  </div>
<script type="text/javascript" language="javascript">
    $(function () {
        if ($("#hdMsg").val() != "") {
            alert($("#hdMsg").val());
            $("#hdMsg").val("");
        }
    });
</script>
</form>
    <!-- 以上页面内容 开发时删除 -->
    <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/amazeui.ie8polyfill.min.js")"></script>
<![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/jquery.min.js")"></script>
    <!--<![endif]-->
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/amazeui.min.js")"></script>

</body>
</html>
