@model XYDX18Website.SelfModels.ContentsOfPageList
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>内容管理</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/assets/i/favicon.png")">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="@Url.Content("~/Content/assets/i/app-icon72x72@2x.png")">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/assets/i/app-icon72x72@2x.png")">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/assets/i/app-icon72x72@2x.png")">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/amazeui.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/app.css")"/>

    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/jquery-3.2.1.min.js")"></script>
 
</head>
<body>
    <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
    <!-- 页面内容 开发时删除 -->
    <div class="am-panel am-panel-default bg">
        <div class="am-panel-bd text">
            内容管理</div>
    </div>
       <button type="button" class="am-btn am-btn-danger am-round btnQ" id="doc-prompt-btnQ">退出</button>

 
    <table class="am-table am-table-bordered am-table-radius am-table-striped">
        <thead>
            <tr>
                <th>
                    标题
                </th>
                <th>
                    内容
                </th>
                 <th>
                    时间
                </th>
                <th>
                    网址
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
       
         @foreach (XYDX18DAL.Contents his in Model.ContentsList)
         {
               <tr>
                <td>
                    @his.Title
                </td>
                <td>
                   @his.XContents
                </td>
                 <td>
                  @string.Format("{0:yyyy-MM-dd}", his.AddDate)
                </td>
                <td>
                    <a href="@Url.Content(string.Format("/Contents/Index/?Id={0}", his.ID))" target="_blank">点击进入</a>
                </td>
                <td>
                    <input type="hidden" id="@Url.Content(string.Format("hdTitle_{0}", his.ID))" value="@his.Title" />
                    <input type="hidden" id="@Url.Content(string.Format("hdContent_{0}", his.ID))" value=" @his.XContents" />
                    <button type="button"  class="am-btn am-btn-primary am-round am-btn-xs btnUpdate" value="@his.ID">
                        修改</button>
                    <button type="button"  class="am-btn am-btn-primary am-round am-btn-xs btnDelete" value="@his.ID">
                        删除</button>
                    <button type="button"  class="am-btn am-btn-danger am-round am-btn-xs btnQRCode" value="@his.ID">
                        点击生成二维码</button>
              </td>
            </tr>
         }
           
            
        </tbody>
    </table>
       <div class="pages clearfix">
            @Html.PageLinkes(true, "Admin", "ContentsList", Model.PageInfor, null)
        </div>
@*    <ul class="am-pagination am-pagination-centered">
        <li class="am-disabled"><a href="#">&laquo;</a></li>
        <li class="am-active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>*@
           <button type="button" class="am-btn am-btn-primary am-round btn1" id="doc-prompt-toggle">添加文字格式</button>
    <form method="post" action="/Admin/ContentsAdd">
        <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">
                    标题
                    <div class="am-form">
                        <input id="bt" type="text" class="am-modal-prompt-input"></div>
                </div>
                <div class="am-modal-bd">
                    内容
                    <div class="am-form">
                        <div class="am-form-group">
                            <textarea class="" rows="5" id="doc-ta-1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span> <span class="am-modal-btn"
                        data-am-modal-confirm>提交</span>
                </div>
            </div>
        </div>
    </form>
    <!-- 以上页面内容 开发时删除 -->
    <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/amazeui.ie8polyfill.min.js")"></script>
<![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/jquery.min.js")"></script>
    <!--<![endif]-->
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/amazeui.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/contents.js")"></script>
</body>
</html>
